* {
    padding: 0 0;
    margin: 0 0;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(6, 90, 164, 0.574);
}

.logo {
    height: 100%;
    pointer-events: none;
}

.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    padding: 5px 0px;
    width: 100%;
    height: 60px;

}

#l-home {
    color: rgb(234, 16, 52);
}


.main_menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_menu li {
    position: relative;
}

.main_menu li a {
    color: aqua;

    text-decoration: none;
    transition: all;
}

.main_menu li a:hover {
    color: aliceblue;
}

.sub_menu {
    position: absolute;
    display: none;
    background-color: black;
    width: 150px;

}

.main_menu li:hover .sub_menu {
    display: block;
}

.sub_menu li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    width: 100%;
}

.sub_menu li a {
    color: white;
    text-decoration: none;
}

.sub_menu1 {
    background-color: black;
    position: absolute;
    display: none;
    left: 151px;
    width: 250px;
    top: 0;
}

.sub_menu li:hover .sub_menu1 {
    display: block;
}

.sub_menu1 li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    width: 100%;
}

.search {
    display: flex;
}

.search li:nth-child(1) {
    color: rgb(16, 192, 98);
    margin-right: 10px;

}

.search button,
.inp_contain ul button {
    display: flex;
    color: aliceblue;
    background-color: rgb(16, 192, 98);
    align-items: center;
    justify-content: center;
    box-shadow: 20px;
    width: 150px;
    height: 25px;
}

.content1 {
    width: 100%;
    height: auto;
}

.content1 img {
    width: 100%;
    border: 0;
}

.inp_contain {
    margin-top: -5px;
    padding: 0px 10px;
    width: 100%;
    height: 100px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 62, 0.911);
}

.input_box {
    margin: 20px;
}

.input_box li {
    margin: 10px;
    color: white;
    list-style: none;
    text-decoration: none;

}

.input_box li:nth-child(1) {
    pointer-events: none;
}

li {
    list-style: none;
}

.input_box input {
    width: 250px;
    height: 30px;
    outline: none;
    padding-left: 20px;

}

.title_c2 li {
    list-style: none;
    text-align: center;
}

.title_c2 img {
    height: 100px;
}

.content2 {
    margin: 50px 150px 70px 150px;
    display: flex;
    justify-content: space-around;
}

.content2 div {
    width: 30%;
    display: block;
    border: 0.1px solid black;
}

.content2 div li {
    padding-left: 20px;
}

.content2 div img {
    width: 100%;
}

.content2 div li:nth-child(1) {
    padding-left: 0;
}

.content2 div li:nth-child(2) {
    padding: 20px 20px;
}

.content2 div li:nth-child(5),
.content2 div li:nth-child(6),
.content2 div li:nth-child(7) {
    font-size: 12px;
}

.content2 div li i {
    color: rgb(14, 172, 14);
    width: 12px;
    margin-right: 10px;
}

.content2 div div {
    width: 100%;
    border: 0px;
    border-top: 0.1px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content2 div div button {
    width: 100px;
    height: 30px;
    background-color: rgb(4, 194, 131);
    color: white;
    border: 0;
    box-shadow: 3px 3px 0px 0px rgba(36, 124, 4, 0.184);

}

.content2 div div li {
    color: rgb(255, 103, 103);
}

.footer {
    padding: 50px 0px;
    background-image: url('anh.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    pointer-events: none;
}

.footer div {
    padding: 50px 150px 0px 150px;
    display: flex;
    justify-content: space-around;
    pointer-events: none;
}

.f_content {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.f_content li:nth-child(1) {
    grid-row: 1 / 3;
    text-align: right;
    padding-right: 20px;
    color: rgb(56, 194, 56);
    font-size: 50px;
}

.f_content li:nth-child(3) {
    font-size: 12px;
}